# =COCONUT
# -----------------------------------------------------------------------------

# API key used to connect to Coconut service
#
# @required
# @accept {string}

COCONUT_API_KEY=k-XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
